$white: #FFFFFF;
$black: #363636;
$dark: #474339;
$orange: #FF9900;
$orange2: #FF7F24;
$muteorange: #ECCD96;
$darkorange: #D96900;
$lightgray: #868686;
$lightbrown: #D2D3B4;
$background: #FFFAE6;
$background_light: #FFFDF3;